nav#nav-menu.nav-menu-container
  if user
    a.nav-profile-link(href="/user/" + user.login.toLowerCase())
      .nav-user-info-bg
        .nav-user-info-avatar.fl
          img(src="/img/user/no-avatar.png")
        .nav-user-info-username.fl= user.login
    a.nav-link(href="/")
      .nav-icn.fl
        include ../../public/img/layout/home.svg
      .nav-link-label.fl= t('user.nav.feed')
    a.nav-link(href="/subs")
      .nav-icn.fl
        include ../../public/img/layout/star-rate.svg
      .nav-link-label.fl= t('user.nav.subs')
    a.nav-link(href="/im")
      .nav-icn.fl
        include ../../public/img/layout/mail.svg
      .nav-link-label.fl= t('user.nav.mail')
    a.nav-link(href="/comments")
      .nav-icn.fl
        include ../../public/img/layout/qa.svg
      .nav-link-label.fl= t('user.nav.comments')
  else
    //- If unauthorized
    a.nav-link(href="/auth/signin?return=" + __return || '/')
      .nav-icn.fl
        include ../../public/img/layout/lock.svg
      .nav-link-label.fl= t('user.nav.login')
    a.nav-link(href="/auth/signup?return=" + __return || '/')
      .nav-icn.fl
        include ../../public/img/layout/add-person.svg
      .nav-link-label.fl= t('user.title.signup')
