header
  .header-container
    nav#header-nav-button.header-nav.fl
      .hamburger-button-container
        include ../../public/img/layout/hamburger-button.svg
    .page-title-container.fl
      a(href="/")= name
    nav.nav-header-right.fr
      #vert-menu.nav-more-vert-nav
        ul.nav-vert
          if user && user.role > 1
            li.ripple
              a(href="/manage")= t('home.moreVertNav.manage')
          li.ripple
            a(href="/rules")= t('home.title.rules')
          li.ripple
            a(href="/help")= t('home.moreVertNav.help')
          li.ripple
            a(href="/feedback")= t('home.title.feedback')
          li.ripple
            a(href="/blog") Блог
          if user
            li.ripple
              a(href="/settings")= t('user.title.settings')
            li.ripple
              a(href="/auth/logout")= t('home.moreVertNav.logout')
      .more-vert-container(tabindex="0")
        include ../../public/img/layout/more-vert.svg
