doctype html
html
  head
    meta(charset="utf-8")
    meta(name="generator", content="Twi v" + version)
    meta(
      name="viewport",
      content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
    )
    meta(name="msapplication-TileColor", content="#653089")
    meta(
      name="msapplication-TileImage",
      content="" + sys.static + "/img/icns/tile/mstile-144.png"
    )
    meta(name="theme-color", content="#653089")
    link(
      rel="shortcut icon",
      href="" + sys.static + "/img/icns/favicons/ponyfiction-js.ico"
    )
    link(
      rel="icon", type="image/png", sizes="32x32",
      href="" + sys.static + "/img/icns/favicons/ponyfiction-js-32.png"
    )
    link(
      rel="icon", type="image/png", sizes="96x96",
      href="" + sys.static + "/img/icns/favicons/ponyfiction-js-96.png"
    )
    link(
      rel="icon", type="image/png", sizes="16x16",
      href="" + sys.static + "/img/icns/favicons/ponyfiction-js-16.png"
    )
    link(
      rel="apple-touch-icon", sizes="57x57",
      href="" + sys.static + "/img/icns/apple-touch-icon/57/apple-touch-icon-57.png"
    )
    link(
      rel="apple-touch-icon", sizes="60x60",
      href="" + sys.static + "/img/icns/apple-touch-icon/60/apple-touch-icon-60.png"
    )
    link(
      rel="apple-touch-icon", sizes="72x72",
      href="" + sys.static + "/img/icns/apple-touch-icon/72/apple-touch-icon-72.png"
    )
    link(
      rel="apple-touch-icon", sizes="76x76",
      href="" + sys.static + "/img/icns/apple-touch-icon/76/apple-touch-icon-76.png"
    )
    link(
      rel="apple-touch-icon", sizes="114x114",
      href="" + sys.static + "/img/icns/apple-touch-icon/114/apple-touch-icon-114.png"
    )
    link(
      rel="apple-touch-icon", sizes="120x120",
      href="" + sys.static + "/img/icns/apple-touch-icon/120/apple-touch-icon-120.png"
    )
    link(
      rel="apple-touch-icon", sizes="144x144",
      href="" + sys.static + "/img/icns/apple-touch-icon/144/apple-touch-icon-144.png"
    )
    link(
      rel="apple-touch-icon", sizes="152x152",
      href="" + sys.static + "/img/icns/apple-touch-icon/152/apple-touch-icon-152.png"
    )
    link(
      rel="apple-touch-icon", sizes="180x180",
      href="" + sys.static + "/img/icns/apple-touch-icon/180/apple-touch-icon-180.png"
    )
    link(
      rel="icon", type="image/png",
      href="" + sys.static + "/img/icns/chrome/chrome-ponyfiction-js-192.png",
      sizes="192x192"
    )
    link(
      rel="mask-icon",
      href="" + sys.static + "/img/layout/ponyfictionjs.svg", color="#653089"
    )
    link(
      rel="manifest", href="/manifest.json"
    )
    link(
      rel="author", type="text/plain",
      href="" + sys.static + "/humans.txt"
    )

    noscript
        meta(http-equiv="refresh", content="0; URL=/outdated")
    link(rel="stylesheet", href="" + sys.static + "/assets/css/common.css")
    title= title || name

  body
    div#twi-root-container

    link(
      rel="stylesheet",
      href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic"
    )

    script(src="" + sys.static + "/assets/js/common.js")
